# entities.cfg list of all entities and their properties format: EntityName:name\nComponentName propertyName1:val1 propertyName2:val2\nComponentName2...
EntityName:CatmullRomTrack
CatmullRomComponent file:path\track1.csv
MaterialComponent ma:0.8,0.8,0.8 md:0.8,0.8,0.8 ms:0.8,0.8,0.8 shiny:10

# gorilla source https://sketchfab.com/3d-models/kong-2021-animated-run-a75d91ceeba4440981d488cf1e670773
EntityName:MC
ShaderComponent shader:mc
ModelViewComponent position:10.0,10.0,10.0 scale:20.0,20.0,20.0
MeshComponent isfbx:true mesh_file_path:resources/models/Kong/kong-2021-rig/source/MC.fbx anim_speed:0.0021
PlayerMovementComponent speed:0.07 height_factor:1
ColliderComponent extents:0.2,0.2,0.2 offset:0,3,0
CurrencyManagerComponent base_currency:Crystal min_batches:10 max_batches:20 min_per_batch:3 max_per_batch:8 spacing_in_batch:25 max_hearts:15 health:3
MaterialComponent ma:0.5,0.5,0.5 md:0.5,0.5,0.5 ms:0.5,0.5,0.5 shiny:2

EntityName:Crystal
ModelViewComponent position:0,1,0 scale:2,2,2
ShaderComponent shader:CrystalShader
ColliderComponent extents:0.5,0.5,0.5 offset:0,1,0
CollectibleComponent
MaterialComponent ma:0.5,0.5,0.5 md:0.5,0.5,0.5 ms:0.5,0.5,0.5 shiny:0.5

EntityName:Heart
ModelViewComponent position:0,1,0 scale:2,2,2
ShaderComponent shader:toonShader
ColliderComponent extents:1,1,1 offset:0,1,0
CollectibleComponent
MaterialComponent ma:1.0,0.1,0.1 md:1.0,0.1,0.1 ms:1.0,1.0,1.0 shiny:32.0

# fence source https://sketchfab.com/3d-models/ruined-rock-fence-75e2716c378e4a68bac3577303671921
EntityName:Fence
ModelViewComponent position:0,-1000,0 scale:3,3,4 rotation:0,0,0
MeshComponent isfbx:true mesh_file_path:resources\models\Fence\source\stone_fence_old_low.fbx anim_speed:0.0
ColliderComponent extents:0.5,0.75,0.5 offset:0,2,0
CollectibleComponent

# palm tree source https://sketchfab.com/3d-models/stylized-palm-tree-22c3a3d3fb7146cfa22850fa31390e5d
EntityName:Tree
ModelViewComponent position:100,-1000,100 scale:1,1,1 rotation:0,0,0
TreeMeshComponent
ShaderComponent shader:InstancedTreeShader
MaterialComponent ma:0.6,0.6,0.6 md:0.8,0.8,0.8 ms:0.1,0.1,0.1 shiny:1.0