# entities.cfg list of all entities and their properties format: EntityName:name\nComponentName propertyName1:val1 propertyName2:val2\nComponentName2...
EntityName:CatmullRomTrack
CatmullRomComponent file:path\track1.csv


# gorilla source https://sketchfab.com/3d-models/kong-2021-animated-run-a75d91ceeba4440981d488cf1e670773
EntityName:MC
ShaderComponent shader:mc
ModelViewComponent position:10.0,10.0,10.0 scale:20.0,20.0,20.0
MeshComponent isfbx:true mesh_file_path:resources/models/Kong/kong-2021-rig/source/MC.fbx anim_speed:0.001
PlayerMovementComponent speed:0.02 height_factor:1
ColliderComponent extents:5.0,10.0,5.0 offset:0.0,10.0,0.0