# entities.cfg list of all entities and their properties format: EntityName:name\nComponentName propertyName1:val1 propertyName2:val2\nComponentName2...
EntityName:CatmullRomTrack
CatmullRomComponent file:path\track1.csv


EntityName:MC
ShaderComponent shader:mc